article.grayBox
    h4.small-dark-title Lorem
    embed-responsive.embed-responsive-16by9
        <iframe width="560" height="315" src="https://www.youtube.com/embed/io5mgCsmT24?list=PLqGj3iMvMa4IPwMW-sSXn1Q_pVu5tUMCw" frameborder="0" allowfullscreen></iframe>
    h2 Lorem
    p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad 
    +tagblock()
    hr
