footer.footer
    container
        .row
            .col-sm-4
                p.text-muted Bror Brurberg var her #yolo
            .col-sm-4
                p.text-muted Kontakt oss på 99999999
            .col-sm-4
                p.text-muted Adresse: slottet 0001 OSLO
