li.active: a(href="index.html") Hjem
li.dropdown(role='presentation')
      a.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')
        | Kaffe 
        span.caret
        ul.dropdown-menu
            li
               a(href='#') Bønner
            li
                a(href='#') Smaker
            li
                a(href='#') Våre kaffetyper

li: a(href="") Meny
li: a(href="blogg.html") Blogg
li: a(href="") Om oss
li: a(href="login.html") Logg inn
