$small: 544px

body
    background-color: white

.margin-top
    margin-top: 20px

.nav-tabs
    background-color: #eee
    padding-top: 20px
    border-radius: 5px 5px 0 0

.small-dark-title
    background: #000
    color: #fff
    padding: 6px 12px
    display: inline-block

img
    max-width: 100%

iframe
    max-width: 100%

.grayBox
    background-color: #e8e8e8
    margin-top: 5px
