doctype html
html(lang="no")
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, user-scalable=no')
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
        link(rel='stylesheet', href='../wp-content/themes/laurels/style.css')
        link(rel='stylesheet', href='css/style.css')

    body
        header
            .books_bg
                .overlay
                    .container-fluid
                        .col-md-3
                            a(href='http://136147-www.web.tornado-node.net')
                                p.red <-- Tilbake til Traktern.no
                            h1 Velkommen
                            p Velkommen til vår e-lærings plattform. Dette er ett sted for læring, og dette gir deg en formidabel mulghet til å lære deg å  lage god kaffe! Registrer deg eller logg inn, for å få tilgang til kursene vi har i enkle kaffedrinker. Følg progresjonen din, og få informasjon om nye kurs.
        .container-fluid
            .col-sm-7.hidden-sm.hidden-xs
                .col-sm-12.box
                    .col-sm-3.hidden-sm.hidden-xs
                        img(src='http://136147-www.web.tornado-node.net/wp-content/themes/laurels/images/kaffe.png' alt='kaffekopp' style="height:auto; width:100%; margin-top:32px;")
                    .col-sm-9
                        h3 Kaffe latte
                        p Caffè latte eller Caffèllatte er italiensk for kaffe og melk. Kaffedrikken skrives på italiensk i ett ord caffèllatte – med en ekstra 'l' (grammatisk ettersom "raddoppiamento fonosintattico"), men på vanlige kaffemenyer utenfor Italia brukes den aksepterte feilskrivningen "caffe latte" – også uten aksenten. Termen 'latte' er enda vanligere utenfor Italia. Den vanligste feilskrivningen er 'cafe latte'.
                        .btn.btn-default.pull-right Start
                .col-sm-12.box
                    .col-sm-3.hidden-sm.hidden-xs
                        img(src='http://136147-www.web.tornado-node.net/wp-content/themes/laurels/images/kaffe.png' alt='kaffekopp' style="height:auto; width:100%; margin-top:32px;")
                    .col-sm-9
                        h3 Chai latte
                        p Du har helt sikkert hørt eller sett ordet chai når du har vært ute på kafé. Men vet du egentlig hva det er? Chai betyr te og har sin opprinnelse fra  det Indiske subkontinentet. Chai lages opprinnelig med sort te, en blanding av forskjellige krydder, melk og sukker. Så chai er egentlig te med melk. Sier du "Chai te", så sier du egentlig "te-med-melk te" og sier du "chai te latte" så sier du "te-med-melk te med melk". Ble du forvirret? - Fra nå sier vi bare chai!
                        .btn.btn-default.pull-right Start
                .col-sm-12.box
                    .col-sm-3.hidden-sm.hidden-xs
                        img(src='http://136147-www.web.tornado-node.net/wp-content/themes/laurels/images/kaffe.png' alt='kaffekopp' style="height:auto; width:100%; margin-top:32px;")
                    .col-sm-9
                        h3 Americano
                        p Caffè Americano or Americano is a style of coffee prepared by brewing espresso with added hot water, giving it a similar strength to, but different flavor from, drip coffee. The strength of an Americano varies with the number of shots of espresso and the amount of water added. The name is also spelled with varying capitalization and use of diacritics: e.g., café americano.
                        .btn.btn-default.pull-right Start
                .col-sm-12.box
                    .col-sm-3.hidden-sm.hidden-xs
                        img(src='http://136147-www.web.tornado-node.net/wp-content/themes/laurels/images/kaffe.png' alt='kaffekopp' style="height:auto; width:100%; margin-top:32px;")
                    .col-sm-9
                        h3 Cortado
                        p Caffè Americano or Americano is a style of coffee prepared by brewing espresso with added hot water, giving it a similar strength to, but different flavor from, drip coffee. The strength of an Americano varies with the number of shots of espresso and the amount of water added. The name is also spelled with varying capitalization and use of diacritics: e.g., café americano.
                        .btn.btn-default.pull-right Start
                .col-sm-12.box
                    .col-sm-3.hidden-sm.hidden-xs
                        img(src='http://136147-www.web.tornado-node.net/wp-content/themes/laurels/images/kaffe.png' alt='kaffekopp' style="height:auto; width:100%; margin-top:32px;")
                    .col-sm-9
                        h3 Kaffe i Norge
                        p Kongeriket Norge er et nordisk, europeisk land og en selvstendig stat vest på den skandinaviske halvøy. Landet er langt og smalt, og kysten strekker seg langs Nordatlanteren, hvor også Norges kjente fjorder befinner seg. Totalt dekker det relativt tynt befolkede landet 385 000 kvadratkilometer med litt over fem millioner innbyggere.
                        .btn.btn-default.pull-right Start
            .col-sm-4.col-sm-offset-1.box
                h3 Logg inn
                form.form-signin
                    label.sr-only(for='inputEmail') Epost adresse
                    input#inputEmail.form-control(type='email', placeholder='Epost addresse', required='', autofocus='')
                    label.sr-only(for='inputPassword') Passord
                    input#inputPassword.form-control(type='password', placeholder='Passord', required='')
                    .checkbox
                      label
                        input(type='checkbox', value='remember-me')
                        |  Husk meg
                    a.btn.btn-lg.btn-default.btn-block(type='submit' href='loggetinn.html') Logg inn
                    a.btn.btn-lg.btn-default.btn-block(href='http://136147-www.web.tornado-node.net/quiz/registrer.html') Ikke registrert?
    footer
        h4
            .text-center
                a(href='http://136147-www.web.tornado-node.net') Trykk her for å komme tilbake til Traktern.no
                br
                img(src='http://136147-www.web.tornado-node.net/wp-content/uploads/2016/03/cropped-logo.png' alt='Traktern logo' style="width:auto; height:70px;")
                
