@import url(https://fonts.googleapis.com/css?family=Roboto);
.red {
  color: #a04e43;
  opacity: 2; }

html {
  background-color: black; }

h1 {
  color: white; }

body {
  font-family: "Roboto", sans-serif;
  background-color: black; }

h4 {
  color: white; }

li {
    color: white;
}

header {
  position: relative;
  width: 100%;
  top: 0; }

.books_bg {
  color: white;
  position: relative;
  height: 300px;
  width: 100%;
  background-color: black;
  background-image: url(https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=aff2bf56593d08c8fdda8de3eced4910);
  background-size: 100% auto;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden; }

.overlay {
  background-color: black;
  opacity: 0.5;
  height: 100%;
  padding: 10px; }

.container-fluid {
  background-color: black; }

.box {
  background-color: #131313;
  margin-top: 8px;
  margin-bottom: 8px;
  min-height: 256px;
}

input {
  margin-top: 8px; }

.btn {
  background-color: #a04e43;
  border-color: #a04e43;
  margin-bottom: 8px; }

.btn:active {
  background-color: #2b2b2b;
  border-color: #2b2b2b; }

.btn:focus {
  background-color: #2b2b2b;
  border-color: #2b2b2b; }

.btn:hover {
  background-color: #8f453b;
  border-color: #8f453b; }

.btn-default {
  border-color: #a04e43;
  background-color: black;
  color: white;
  margin-bottom: 8px;
  float: right; }

footer {
  height: 100px;
  bottom: 0px;
  position: relative;
  width: 100%;
  background-color: #131313; }
  footer img {
    height: 90px;
    width: auto; }

.profilbilde {
  border-radius: 50px;
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("http://136147-www.web.tornado-node.net/quiz/images/ape.jpg"); }

.progresjonEn {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 16px;
  border-radius: 5px;
  width: 60%;
  background-color: #48956c; }

.progresjonTo {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 16px;
  border-radius: 5px;
  width: 80%;
  background-color: #48956c; }

.progresjonTre {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 16px;
  border-radius: 5px;
  width: 30%;
  background-color: #48956c; }

.kaffekopp {
    height: auto;
    width: 100%;
    margin-top: 32px;
}
.profil {
    min-height: 400px;
    background-color: #131313;
    margin-bottom: 8px;
    margin-top: 8px;
}
