doctype html
html(lang-no)
    head
        title Traktern
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
        link(rel="stylesheet" type="text/css" href="style.css")
        include mixins.jade
     
    body
        
        include meny
        
        header.forsidebilde
            .text-center
                h1 Blogg og Nyheter
        article.row
            .col-sm-3.col-sm-offset-3
                h3 Nye smaker
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            .col-sm-3
                p   aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                button.btn.btn-default.pull-right(type='button') Les mer
        //hr
        
        article.row.patternNews
            .col-sm-3.col-sm-offset-3
                h3 Trenger ekstrahjelp
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            .col-sm-3
                p   aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                button.btn.btn-default.pull-right(type='button') Les mer
        //hr
        
        article.row
            .col-sm-3.col-sm-offset-3
                h3 Prøvesmaking
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            .col-sm-3
                p   aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                button.btn.btn-default.pull-right(type='button') Les mer
        //hr
        
        include footer
