.row
    .pinline
.container
    .row
        .col-sm-4
            .brand
                a(href="index.html")
                    img(src="bilder/logo.png")
        ul.col-md-8.list-inline.margin-top.text-right.hidden-xs
            li
                nav
                    .col-sm-12
                    ul.nav.nav-pills
                        include menyinnhold
        ul.nav.nav-pills.nav-stacked.visible-xs-block.pattern3
            include menyinnhold
