doctype html
html(lang="no")
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, user-scalable=no')
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
        link(rel='stylesheet', href='../../wp-content/themes/laurels/style.css')
        link(rel='stylesheet', href='../css/style.css')

    body
        header
            .books_bg
                .overlay
                    .container-fluid
                        .col-md-3
                            a(href='http://136147-www.web.tornado-node.net/quiz/loggetinn.html')
                                p.red <-- Tilbake til start
                            h1 Kaffe i Norge
                            p Kongeriket Norge er et nordisk, europeisk land og en selvstendig stat vest på den skandinaviske halvøy. Landet er langt og smalt, og kysten strekker seg langs Nordatlanteren, hvor også Norges kjente fjorder befinner seg. Totalt dekker det relativt tynt befolkede landet 385 000 kvadratkilometer med litt over fem millioner innbyggere.

        .container-fluid
            .col-sm-7
                .col-sm-12.box
                    .col-sm-12
                        h3 Kaffe vaner i Norge
                        h4 Trenger vi kaffe for å våkne?
                        p Kaffekoppen om morgenen eller pausekaffen på skole eller jobb blir sett på de viktigste kaffekoppene, altså koppene man er mest «avhengig av» når det gjelder de som drikker kaffe. De fleste mener at kaffe spiller en viktig rolle i jobb- eller skolesammenheng – enten som samlingspunkt, som oppkvikkende middel eller som et personlig pusterom. Det er flere menn enn kvinner som drikker svart kaffe, mens når det gjelder kaffedrikker med melk gjelder dette særlig for kvinner i Oslo-området mellom 30 og 44 år. Til tross for stadig flere spesialmaskiner og kapselmaskiner så ser man at 70 prosent av befolkningen har kaffetrakter hjemme.  Ifølge undersøkelsen drikker 2,1 millioner nordmenn (53 prosent) vanligvis traktekaffe. Kapsel- og podsmaskin fortsetter veksten og 922.000 (23 prosent) nordmenn drikker som regel kaffe fra en slik maskin, dette utgjør 1 av 10. 45 prosent har en presskanne i hus, mens 38 prosent svarer at de har en kapsel- eller podsmaskin hjemme hos seg selv. 

                        a(href='quiz.html').btn.btn-default.pull-right Neste
                        a(href='infoNorge.html').btn.btn-default.pull-left Tilbake
            .col-sm-4.col-sm-offset-1.box.hidden-sm.hidden-xs
                h3 Velkommen Marius Wetterlin!
                .col-md-12
                    .profilbilde
                .col-md-12
                    h4 Kaffe latte
                    .progresjonEn
                    h4 Kaffe i Norge
                    .progresjonTre
                    h4 Chai latte
                    .progresjonTo
                .col-md-12
                    a(href="")
                        p.red Rediger 
                    a.btn.btn-default.pull-right(href='http://136147-www.web.tornado-node.net/quiz/index.html') Logg ut
