doctype html
html(lang="no")
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, user-scalable=no')
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
        link(rel='stylesheet', href='../../wp-content/themes/laurels/style.css')
        link(rel='stylesheet', href='../css/style.css')

    body
        header
            .books_bg
                .overlay
                    .container-fluid
                        .col-md-3
                            a(href='http://136147-www.web.tornado-node.net/quiz/loggetinn.html')
                                p.red <-- Tilbake til start
                            h1 Kaffe latte
                            p I dette kurset vil du lære å lage kaffe latte. Vi guider deg nå igjennom en video hvor du lærer hvordan du skal lage denne kaffe typen perfekt, hva den inneholder og hvordan man lager den.

        .container-fluid
            .col-sm-7
                .col-sm-12.box
                    .col-sm-12
                        h3 Kaffe latte
                        h4 Prøve
                        p Prøv dine kaffe kunskaper i denne lille prøven. Du kan prøve så mange ganger du vil.
                        
                        a(href='').btn.btn-default.pull-right Bekreft
                        a(href='video.html').btn.btn-default.pull-left Tilbake
            .col-sm-4.col-sm-offset-1.box.hidden-sm.hidden-xs
                h3 Velkommen Marius Wetterlin!
                .col-md-12
                    .profilbilde
                .col-md-12
                    h4 Kaffe latte
                    .progresjonEn
                    h4 Kaffe i Norge
                    .progresjonTre
                    h4 Chai latte
                    .progresjonTo
                .col-md-12
                    a(href="")
                        p.red Rediger 
                    a.btn.btn-default.pull-right(href='http://136147-www.web.tornado-node.net/quiz/index.html') Logg ut
